<!DOCTYPE html>
<html>
<head>
    <title>404</title>
    <link rel="icon" href='/image/clouds.png'>
    <link rel='stylesheet' href='/css/styles.css'>

</head>

<body>
<div class="main-content">
    {{>header}}

    {{helpMessage}}
</div>


    {{>footer}}
</body>
</html>