<!DOCTYPE html>
<html>
<head>
    <title>Help</title>
    <link rel="icon" href="/image/clouds.png">
    <link rel='stylesheet' href='./css/styles.css'>

</head>

<body>
    {{!-- <h1>
    Help message is
</h1> --}}
<div class="main-content">

        {{>header}}

        <p>{{message}}</p>

</div>


{{>footer}}
</body>
</html>