<!DOCTYPE html>
<html>
<head>
    <title>Weather Home</title>
    <link rel="icon" type="image/png" href="/image/clouds.png">
    <link rel='stylesheet' href='/css/styles.css'>
    
</head>

<body>
    {{!-- <h1>
    Header coming from a static file hbs
    {{title}}
</h1> --}}
<div class="main-content">
    {{>header}}

    <p>Created by {{name}}</p>

    <form>
        <input placeholder="location">
        <button>Search</button>
    </form>

    <p id='message-1'></p>
    <p id='message-2'></p>
</div>
   

{{>footer}}

<script src="/js/app.js"></script>
</body>
</html>